body {
    background-color: #FAF9F6;
    color: #2e3a46;
    text-align: center;
    font-family: "Playfair Display", sans-serif;
    font-weight: 300;
    font-style: normal;
}

#header {
    background-color: #ff7d27;
}

h1 {
    color: #FAF9F6;
    padding: 80px;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 55px;
}

#kategoriat {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.hakutyyppiBtn {
  background-color: #ff7d27;
  border-radius: 40px;
  border: none;
  padding: 10px 25px;
  margin: 10px;
  color: #fff;
  text-align: center;
}

.hakutyyppiBtn.active {
  background-color: #c1442e;
  color: #fff;
}

#hakuBtn {
    padding: 5px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h5 {
    padding-top: 30px;
    padding-bottom: 15px;
}

#hakuIkoni {
    color:#91a17f;
    margin: 5px;
    background-color: transparent;
    border: none;
    font-size: 35px;
}

.hakukentta {
    color: #7e8b6e;
    outline: none;
    border: none;
    background: transparent;
    width: 100%;
    max-width: 300px;
    font-size: large;
    margin: 6px;
    text-align: left;
}

.hakuwrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
    border-radius: 25px;
    padding: 5px 10px;
}

#tulokset {
    padding: 20px;
    overflow-x: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.reseptikortti {
    background-color: #fff;
    color: #394132;
    border: 1px solid #9caf88bb;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
}

.reseptikortti img {
    width: 80%;
    margin: 0 auto;
    height: auto;
    display: block;
    border-radius: 8px;
}

.reseptikortti h3 {
    font-family: "Playfair Display", serif;
    padding: 8px;
    margin: 0px;
}

.reseptikortti p {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-top: -2px;
    margin-bottom: -2px;
}

footer {
    position: sticky;
    bottom: 0px;
    padding: 10px;
}

footer p {
    margin-bottom: -2px;
}

a {
    color: #394132;
    text-decoration: none;
}

a:hover {
    color: #667258;
}

#kotiBtn {
    text-align: left;
    margin: 10px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 24;
  font-size: 50px;
  color: #2e3a46;
}

#resepti {
    padding: 50px;
}

#resepti h2 {
    margin-top: 5px;
    margin-bottom: 20px;
}

#resepti img {
    margin: 0 auto;
    height: auto;
    border-radius: 8px;
    
}

#resepti p {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin-top: 20px;
    margin-bottom: -15px;
}

#ohje {
    padding: 40px;
}

@media (min-width: 992px) {
    #tulokset {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 500px) {
    #kategoriat {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

  .hakutyyppiBtn {
        width: 80%;
        max-width: 300px;
        padding: 15px;
        margin: 3px;
    }

    #resepti img {
    width: 100%;
    margin: 0 auto;
    height: auto;
    display: block;
    border-radius: 8px;
    }
}